@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: black;
}

h1 {
  color: #e0e0e0;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 30px;
  font-size: 2.5rem;
}

.disable {
  pointer-events: none;
}
